
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="container" id = "app">
    <table class="table">
       <thead></thead>
            <tr>
                <td scope="col">Name</td>
                <td scope="col">Price</td>
                <td scope="col">Category</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="row in items">
                <td>{{row.name}}</td>
                <td>{{row.price}}</td>
                <td>{{row.category.name}}</td>
            </tr>
        </tbody>        


    </table>
   <button class="btn btn-primary" @@click="prevpage()" :disabled = "hasPreviousPage">Назад</button> 
   <button class="btn btn-primary" @@click="nextpage()" :disabled = "hasNextPage">Дальше</button>
   <br>
 
</div>


